torch
torchvision
torchaudio
numpy
pandas
matplotlib
seaborn
scipy
scikit-learn
numba
joblib
tqdm
termcolor
threadpoolctl
umap-learn
pynndescent
tensorboard
scikit-learn
termcolor
terminaltables
pyedflib
gdown
timm